<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>B.O. Tracker</title>

    <!-- inject:css:css -->
    <link rel="stylesheet" href="/dist/css/css/leaflet2.css">
    <link rel="stylesheet" href="/dist/css/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="/dist/css/metisMenu/dist/metisMenu.css">
    <link rel="stylesheet" href="/dist/css/bootstrap/dist/css/bootstrap.css">
    <!-- endinject -->
    <!-- Custom Fonts -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
     <!-- inject:bowerjquery:js -->
    <script src="/dist/jquery/dist/jquery.min.js"></script>
    <script src="/dist/jquery/sizzle/dist/sizzle.min.js"></script>
    <!-- endinject -->
    <!-- inject:bowerangular:js -->
    <script src="/dist/angular/angular.min.js"></script>
    <!-- endinject -->
    <!-- inject:boweraux:js -->    
    <script src="/dist/boweraux/dist/leaflet-src.js"></script>    
    <script src="/dist/boweraux/angular-file-upload/dist/angular-file-upload.min.js"></script>    
    <script src="/dist/boweraux/angular-ui-router/release/angular-ui-router.min.js"></script>    
    <script src="/dist/boweraux/metisMenu/dist/metisMenu.min.js"></script>    
    <script src="/dist/boweraux/bootstrap/dist/js/bootstrap.min.js"></script>    
    <!-- endinject -->
    <!-- inject:app:js -->    
    <script src="/dist/app.js"></script>    
    <!-- endinject -->
    <!-- inject:appcontent:js -->   
    <script src="/dist/appmin/js/rotas.js"></script>   
    <script src="/dist/appmin/js/directives/map-directive/map-directive.js"></script>   
    <script src="/dist/appmin/js/pages/home/home-controller.js"></script>   
    <script src="/dist/appmin/js/pages/home/home-service.js"></script>   
    <!-- endinject -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        body { margin:0; padding:0; }
        #testando123 { position:absolute; top:0; bottom:0; width:100%; }
    </style>
</head>

<body id="page-top" class="index" ng-app="botrackermodule" >
        <ui-view></ui-view>
</body>
</html>